@import "theme.css";

*{
    box-sizing: border-box;
    margin:0;
    font-family:  var(--ff-monteserrat);
    font-weight: 500;
}
body{
    background-color: var(--mavi-9);
    color: var(--siyah);
    margin: 1rem;
}

h1{
    background-color: var(--koyu-kırmızı);
    width: 20rem;
    padding:0.5rem;
    border:1px solid black;
    border-radius: 4rem;
    text-align: center;
    margin : 1rem auto;

 

}
.header{

    background-color: var(--koyu-yeşil);
    padding:1rem;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.navbar{
    display: flex;
    background-color: var(--gri-3);
    justify-content: flex-start;/*sol tarafa dayıyor*/
   
   
    
}

/*a elementi inline bir element olduğu için padding yemez*/
.navbar a{
    display:inline-block ;
    text-decoration: none;
    color:white;
    padding:1rem;
    
}
.navbar a:hover{
    background-color: var(--gri-7);
    color: var(--siyah)
}
.row{
    display:flex;
    flex-wrap: wrap;/*divlerin sıkışmasını engelliyor*/
    width: 100%;
    text-align: center;
    justify-content: center;
    
}
.row-1{
padding: 1rem;


}
.fs{
background-color: var(--gri-5);
width: 35%;
}
.ds{
    background-color: var(--gri-6);
    width: 20%;
}
.cms{
    background-color: var(--gri-7);
    width: 25%;
}
.aws{
    background-color: var(--gri-8);
    width: 20%;
}

@media screen  and  (max-width:990px) {
body{
    background-color: var( --açık-kırmızı);
}

.row div{
    width: 50%;
    
}


}
@media screen  and  (max-width:600px) {
    body{
        background-color: var( --acik-sari);
    }
    
    .row{
    display:flex;
    flex-direction: column;

    flex-wrap: wrap;
    flex-basis: 100%;
    flex: 1;

}

.row div{
    width: 100%;
   
}

.navbar{
    display: flex;
    flex-direction: column;
}
.navbar a{
    text-align: center;
}

}